#inputplan {
   text-align: end;
}
#prodcard {
    background: #323645
}
#prodbgleft {
    background: #C3C3C3;
}
#prodbgright {
    background: #07569b;
    color: #C3C3C3;
}
#fonttext {
    font-size: 80px;
}
#fontprodleft {
    font-size: 43px;
}
#leftpadd {
    margin-top: 3px;
    margin-bottom: 17px;
}